@charset "UTF-8";
.icon {
  width: 127px;
  height: 127px;
}

header {
  width: 1440px;
  height: 127px;
  background-color: #f3f1e4;
  margin-bottom: 200px;
  display: flex;
}
.nav {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: flex-end;
}
.nav_item {
  width: calc(100% / 4);
}

.nav_item > a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
